

#team-menu 
{
        font-size: 20px;
        color: green;

        .team-name-container
        {
                color: blue;
        }

        .presence-container
        {
                color: green;
        }
}