html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;

	height: 100%;
    width: 100%;
    font-size: 1pc;
    line-height: 1rem;
    background: #fff;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}


header, main, footer {
    padding-left: 240px;
}



@media only screen and (max-width : 992px) {
header, main, footer {
    padding-left: 0;
}
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/montserrat/Montserrat-Bold.ttf');
    font-weight: bold;
}

h1,h2,h3,h4,h5,p{
    margin: 0px;
}

.app, #app-container, main{
    height: 100%;
}

.full-width{
    width: 100%;
}

.clear{
    clear: both;
}

.clickable{
    cursor: pointer;
}

#banner{
    width: 100%;
    background-color: #E8AC3C;
    height: 50px;
}

.topic-divider{
    flex: 0 0 auto;
    padding: 0 .4rem;
    color: #e8e8e8;
}

.hover-icon:hover{
    color: #51E2C3;
    cursor: pointer;
    transition: color .3s ease;
}

/*.action-icon{
    font-size: 20px;
    
    background-color: #3B3E51;
    margin: 0 10px;

    margin: 0 10px;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 100%;

    height: 30px;
    width: 30px;
    flex: 0 0 auto;

    padding: 5px 10px;
    border-radius: 100%;
}*/

/*.action-icon {
    background: #3B3E51;
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding: 10px;
}*/


/*
 *  SCROLLBAR STYLE 1
 */

.md-scroll::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.md-scroll::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.md-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #BBB;
}



/*GENERAL CLASSES*/
.img-circle {
    border-radius: 50%;
}

.nostyle-btn {
    background:none;
    border:none;
}