
@import './../variables/themeVars.scss';

.channel-footer
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	min-height: 80px;
	width: 100%;

	#footer-dropdown
	{
		top: -140px !important;
	}

	.footer-input-container
	{
		margin: 20px;
		display: flex;
		border: 2px solid $border-gray;
		border-radius: 15px;
    		align-items: center;

    		padding: 5px;

		#footer-textarea
		{
			width: 100%;
			display: inline-block;

			border: none;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;

			max-height: 200px;
			min-height: 45px;
			resize: none;
    			overflow-y: auto;

    			font-size: 14px;
    			font-family: $font-stack;

    			white-space: pre-wrap;
			word-wrap: break-word;
			overflow-wrap: break-word;

			padding: 5px;
		}
	}	

}


.footer-btn-container
{
	/*background-color: $primary-salmon;*/

	.footer-btn
	{
		font-size: 30px;
		width: 40px;
		color: white;
		text-align: center;

		color: $primary-salmon;
	}
}

.txtstuff {
    resize: none;
    overflow: hidden;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
    width: 100%;
    min-height: 45px;
    font-size: 14px;
    overflow: hidden;
    max-height: 200px;
    font-family: $font-stack;
}

.lbr {
    line-height: 3px;
}