@import './../variables/themeVars.scss';

.landing 
{
    padding: 0px;
}

.app-landing 
{ 
  	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(#{$assetPath}/pug_sm.jpg) no-repeat center center fixed;  
  	background-size: cover;
  	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav 
{
	box-shadow: none;
	/* background: none; */
	background: $primary-ash-blue;

	ul
	{
		a.active, a.active:hover
		{
			background-color: $primary-salmon;
		}

		a:hover
		{
			background-color: #555;
		}

		/* button
		{
			border-radius: 50%;
			background-color: $primary-salmon;
			border: none;
			height:30px;

			&:hover
			{
				background-color: $salmon-muted;
			}
		} */

		.chat-link{
			font-size: 18px;
			color: $aqua-highlight;
			font-weight: bold;

		}
	}

	.brand-logo img
	{
		max-height: 64px;
	}
}

footer.page-footer
{
	padding-top: 0px;
	background-color: rgba(0,0,0,.3);

	.footer-copyright
	{
		/* background-color: rgba(0,0,0,.5); */
		background-color: $primary-ash-blue;

		img 
		{
			max-height: 40px;
			margin: 5px 0px;
		}
	}
}

.landing-content
{
	font-family: $font-header;
}

$s: 8px;

.welcome-content
{
	color: white;
	width: 100%;
	h2
	{
		margin-bottom: 20px;
		font-size: 34px;
	}

	.start-button {
		display: inline-block;
		margin: auto;
		width: $s*40;
		height: $s*8;
		border: none;
		background: $aqua-muted;
		position: relative;
		overflow: hidden;
		color: white;
		line-height: 64px;

		&:before {
			content: '';
			background: darken($aqua-highlight, 10%);
			width: $s*80;
			height: $s*60;
			position: absolute;
			transform: translate($s*-100,$s*-40) rotate(130deg);
			transition: all 700ms ease;
		}
		&:after {
			content: attr(data-word);
			color: white;
			font-size: 1.5em;
			position: relative;
			z-index: 100;
			transition: all 200ms ease;
			font-weight: 200;
		}

		&:hover {
			&:after {
				font-size: 2em;
			}
			&:before {
				transform: translate($s*-20,$s*-40) rotate(130deg);
			}
		}
	}
}

.about-content
{
	max-width: 500px;
	color: white;
	width: 100%;
	margin: 10px auto;
	
	h2
	{
		margin-bottom: 20px;
		font-size: 40px;
	}

	p{
		font-size: 20px;
		line-height: 24px;
	}

}