
@import './../variables/themeVars.scss';

main 
{
        flex: 1 0 auto;
}

#banner{
        width: 100%;
        background-color: #EA8C55;
        height: 40px;
        position: relative;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        line-height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;


        .banner-close
        {
                color: white;
                font-size: 24px;
                position: absolute;
                right: 10px;
                cursor: pointer;
        }
}

#banner:hover{
        background-color: #ec9766;
        transition: background-color 0.2s ease;
}
