$font-stack:    'Roboto', Helvetica;
$font-header:	'Montserrat', 'Helvetica';

/*color themes*/
$primary-color: orange;

$primary-salmon: #F25C5D;
$primary-ash-blue: #2C2F42;
$primary-orange: #EA8C55;
$primary-cream: #F9DBBD;
$primary-periwinkle: #ABA9BF;

$light-border: #dddde0;

$side-nav-background-logo: #3B3E51;
$side-nav-border-color: #565867;
$side-nav-width: 240px;

$font-gray: #9e9ea6;