$font-stack:    'Roboto', Helvetica;
$font-header:	'Montserrat', 'Helvetica';

/*color themes

https://coolors.co/app/f25c5d-2c2f42-ea8c55-51e2c3-aba9bf
*/
$primary-color: orange;

$primary-salmon: #F25C5D;
$primary-ash-blue: #2C2F42;
$primary-orange: #EA8C55;
$primary-cream: #fdf7f1;
$primary-periwinkle: #68667F;

$dark-violet: #161247;

$aqua-highlight: #51E2C3;
$aqua-muted: #389e88;

$light-border: #dddde0;

$ash-blue-light: #3B3E51;

$side-nav-background-logo: #3B3E51;
$side-nav-border-color: #565867;
$side-nav-width: 240px;

$font-gray: #9e9ea6;
$font-light-gray: #bbbbc0; 

$border-gray: #E0E0E0;